<div class="header">
    <div class="header-content">
        <span>Angular Blog</span>
        <div class="buttons">
            <button type="button" class="btn" (click)="openTemplate('signIn')">Sign In</button>
            <button  class="userLog" *ngIf="clicker"> {{ nameLog }} </button>    
            <button type="button" class="btn" (click)="openTemplate('signUp')">Sign Up</button>
          </div>
    </div>
</div>

<div *ngIf="isTemplateVisible">
    <ng-container [ngTemplateOutlet]="currentTemplate"></ng-container>
</div>

<ng-template #signInForm >
    <div class="overlay">
        <div class="signIn">
            <div class="topSignIn">
                <h2>Sign In</h2>
                <button type="button" class="btn closeBtn" (click)="closeTemplate()"> ✕ </button>
            </div>
            <hr>
            <input type="text" placeholder="email" class="input" name="email" [(ngModel)]="email" required>
            <input type="text" placeholder="password" class="input" name="password" [(ngModel)]="password" required>
            <hr>
            <button type="button" class="btn saveBtn"  (click)="submit()">submit</button>
        </div>
    </div>
</ng-template>

<ng-template #signUpForm >
    <div class="overlay">
        <div class="signUp">
            <div class="topSignUp">
                <h2>Sign Up</h2>
                <button type="button" class="btn closeBtn" (click)="closeTemplate()"> ✕ </button>
            </div>
            <hr>
            <input type="text" placeholder="username" class="input" name="firstName" required>
            <input type="text" placeholder="email" class="input" name="lastName" required>
            <input type="text" placeholder="password" class="input" name="phoneNumber" required>
            <hr>
            <button type="button" class="btn saveBtn"  [disabled]="submit()">submit</button>
        </div>
    </div>
</ng-template>

<router-outlet></router-outlet>
